
{% extends 'base.html ' %}
{% load bootstrap5 %}




{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">   </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-15 mx-auto">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="img/svg_icon/1.svg" alt="">
                                </div>
        
                    <div class="apply_job_form white-bg" >
                      {% block  content %}

                      {% endblock content %}
                </div>
                

            </div>
        </div>
    </div>
{% endblock %}
